/* to do */

body{
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    width: 100%;
    font-family: sans-serif;
}

/* nav */
.principal-label {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color:#ffffff;
}

.principal-label a {
    text-decoration: none;
}

.contact-label {
    display: block;
    padding: 1.2rem 0rem;
    box-sizing: border-box;
    color: #ffffff;
    background-color:#3d3d3d;
}

.contact-label h2 {
      display: block;
      padding-left: 0.9rem;
      font-weight: 100;
}

.nav-hamburguer {
    display: inline-block;
    margin: 1rem;
    float: left;
    color: gray;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute; 
}

.nav-hex {
    display: inline-block;
    margin: 0.7rem 7.6rem;
    text-align: center;
    color: lightgray;
    font-size: 2rem; 
    position: absolute; 
}

.nav-profile {
    display: inline-block;
    margin: 4% 5% 1% 0%;
    float: right;
    color: gray;
    font-size: 2rem; 
    position: absolute; 
}

/* formulario */
.formulario {
    margin: 0 2rem;
}
.formulario__campos {
    margin: 1em 0;
}

.formulario__campos__label {
    display: block;
    box-sizing: border-box;
}

.formulario__campos__input {
    display: block;
    box-sizing: border-box;
    border-radius: 3px;
}

.formulario__seletores {
    display: block;
    box-sizing: border-box;
    margin: 1em 0;
}

.formulario__seletores__individual {
    padding: 0.5em;
    border-radius: 3px;
    background: #d4d3d9; 
}

.formulario__checkbox {
    box-sizing: border-box;
    display: block;
    margin: 1em 0;
}

.formulario__switch {
    margin: 1em 0;
}

.formulario__botao-submit {
    margin: 1em 0;
    padding: 0.5em 1em;
    border: #9eb445;
    border-radius: 3px;
    background: #9eb445; 
}

/*Conteudo*/
.corpo-conteudo {
    margin: 0 2rem;
}
.titulo-secundario {
    font-family: sans-serif;
    font-size: 14pt;
    color: dimgray;
}

.texto-corrido{
    font-family: sans-serif;
    font-size: 10pt;
    color: grey;
}

.itens{
    font-family: sans-serif;
    font-size: 10pt;
    color: grey;
    margin-bottom: 10px;
}

/*Início Footer*/
.informations{
    margin-top:1rem;
    padding: 1em;
    width: 100%;
    bottom: 0;
    background-color: #3d3d3d;
}

.informations__card{
    display: inline-block;
    width: 48%;
}
.informations__card__title{
    color: white;
    font-family: sans-serif;
}
.informations__card__lista{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: sans-serif;
}
.informations__card__lista__item{
    text-decoration: none;
    color: #7c7c7c;
    font-family: sans-serif;
}
/*Final Footer*/

/*Tablet*/
@media (min-width: 768px) {
.principal-label {
     min-height: 5rem;
     padding: 1rem 1.5rem;
}
.nav-hamburguer {
    display: none;
}
.nav-hex {
    float: left;
    margin: 1rem 0rem 1.2rem;
    font-size: 3rem;
    background-color: 
}
.nav-profile i {
    display: inline-block;
    float: right;
    margin-right: 1rem;
}
}
