/* to do */

.titulo-secundario {
    font-family: sans-serif;
    font-size: 14pt;
    color: dimgray;
}

.texto-corrido{
    font-family: sans-serif;
    font-size: 10pt;
    color: grey;
}

.itens{
    font-family: sans-serif;
    font-size: 10pt;
    color: grey;
    margin-bottom: 10px;
}